<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @info.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @info.last_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @info.gender %>
</p>

<p>
  <strong>Age:</strong>
  <%= @info.age %>
</p>

<p>
  <strong>Email:</strong>
  <%= @info.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @info.phone_number %>
</p>

<p>
  <strong>Country:</strong>
  <%= @info.country %>
</p>

<%= link_to 'Edit', edit_info_path(@info),class:"btn btn-info" %> 
<%= link_to 'Back', infos_path,class:"btn btn-info" %>
